a:hover{
   color: green;
}
button:active{
    background-color: blue;
}
ol:nth-child(2){
    color: aqua;
}
.for-focous{
    height: 300px;
    width: 300px;
}
input:focus {
    border: 2px solid rgb(146, 146, 247);
    outline: none;
    background-color: #e0f0ff;
}